{
  "name": "PS5 Emulator",
  "version": "0.1.0",
  "manifest_version": 3,
  "description": "PlayStation 5 Virtual Emulator",
  "action": {
    "default_popup": "index.html"
  },
  "permissions": [
    "storage"
  ],
  "host_permissions": [
    "http://localhost/*"
  ]
}
